body {
		font-family: Arial;
		font-size: 12px;
		background: grey;
	}
	header {
		background-color: #84cb00;
		padding: 5px;
		text-align: center;
	}

	header nav a {	
		background: rgb(19, 86, 19);
		color: white;
	}
	main section {
		overflow: hidden;
	}

	.background-red {
		background: red;
	}

	.background-green {
		background: green;
	}

	.background-aqua {
		background: aqua;
	}

	main section.grey-section {
		background: #f5f1f1;
	}

	main section p img {
		width: 500px;
		float: left;
		margin-right: 5px;
	}
